body{
    background-color: #AACEEC;
    font-family: Arial;
    font-weight: lighter;
}

h1{
    font-size: 20pt;
    font-style:normal;
    margin: 0 0 1px 0;
}

h2{
    font-weight: lighter;
    font-size: 12pt;
    margin: 5px 0 20px 0px;
}

#ueberMich{
    text-align: center;
}

#ueberMichText{
    display: none;
}

#ueberMichText.active {
    display: block;
}

.grid {
    display: grid;
    place-items: center;
    height: 100vh;
}

.foreground {
    background-color: white;
    padding: 15px 25px 50px 25px;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}
#bild{
    width: 100px;
    height: 100px;
    margin: 0 0 15px 0;
        border-radius: 5px;
}

.erstesDrittel{
    text-align: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    height: 32px;
    padding: 0 12px;

    border-radius: 5px;
    border: 1px solid lightgrey;

    background-color: #E5E6EB;
    color: black;
    text-decoration: none;
    cursor: pointer;

    transition: 0.2s;
}

.btn.primary {
    background-color: #2D6FBE;
    color: white;
    border-color: #2D6FBE;
}

.btn:hover {
    opacity: 0.9;
    transform: scale(1.03);
}

.buttonIcons {
    height: 14px;
    width: 14px;
}

.btn:visited {
    color: black;
}

.btn:hover {
    color: black;
}